@font-face {
  font-family: "OpenSans-Light";
  src: url("OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("OpenSans-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
